<div class="custom-columns">
  <!-- First column: 1/4 width -->
  <div class="column column-1">
    <h2>Commands</h2>
    <div id="progress-info" style="margin-bottom:16px;background:#f5f5f5;font-weight:bold;">
      <p><span id="progress-status"></span></p>
      <p><span id="progress-running"></span></p>
    </div>
    <div id="command-list">
      <ul class="custom-list">
        {{#each specCommands}}
        <li class="custom-list-item">
          <span>{{this}}</span>
          <button class="run-spec-command" data-command="{{this}}">Run</button>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <!-- Second column: 1/4 width -->
  <div class="column column-2">
    <h2>Executed Commands</h2>
    <div id="executed-command-list">
      <ul class="custom-list">
        {{#if executedCommands.length}}
          {{#each executedCommands}}
          <li class="custom-list-item">
            <span>{{this}}</span>
            <span>
              <button class="show-result-command" data-command="{{this}}">Result</button>
              <button class="ml-4 show-screenshot-command" data-command="{{this}}">Screenshot</button>
            </span>
          </li>
          {{/each}}
        {{else}}
          <li class="custom-list-item"><span>No commands executed yet.</span></li>
        {{/if}}
      </ul>
    </div>
  </div>
  <!-- Third column: 2/4 width -->
  <div class="column column-3">
    <h2>Result</h2>
    <div id="command-result">
      <p class="result-placeholder">Select a executed command to see the result.</p>
    </div>
  </div>
</div>
