<div class="custom-columns">
  <!-- First column: 1/4 width -->
  <div class="column column-1">
    <h2>Commands</h2>
    <ul class="custom-list">
      {{#each specCommands}}
      <li class="custom-list-item">
        <span>{{this}}</span>
        <button class="run-spec-command" data-command="{{this}}">Run</button>
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- Second column: 1/4 width -->
  <div class="column column-2">
    <h2>Executed Commands</h2>
    <ul class="custom-list">
      {{#if executedCommands.length}}
        {{#each executedCommands}}
        <li class="custom-list-item">
          <span>{{this}}</span>
          <span>
            <button class="show-result-command" data-command="{{this}}">Result</button>
            <button class="ml-4 show-screenshot-command" data-command="{{this}}">Screenshot</button>
          </span>
        </li>
        {{/each}}
      {{else}}
        <li class="custom-list-item"><span>No commands executed yet.</span></li>
      {{/if}}
    </ul>
  </div>
  <!-- Third column: 2/4 width -->
  <div class="column column-3">
    <h2>Result</h2>
    <p>Result of selected executed command will be displayed here.</p>
  </div>
</div>
